form action="/post/create" method="post"
    input type="text" name="post_text" placeholder="Type text here..."
    input type="text" name="password" placeholder="Password"
    input type="submit" value="Logga in"
