body{
    margin: 0;
    padding: 5vw;
    padding-top: 0;
}


header{
    display: flex;
}

header form{
    margin: 5px;
    margin-left: 0;
}

.wrapper{
    width: 90vw;
    display: block;
    justify-content: center;
    align-items: center;
}
.container{
    width: 40vw;
    height: 10vh;
    background-color: lightblue;
}

.post-container{
    width: 40vw;
    padding: 10px;
    margin-top: 10px; 
    background-color: lightblue;
}

.tag-area{
    width: 40vw;
    background-color: lightblue;
}
.tag-container{
    padding-top: 5px;
    display: flex;
}

.tag-container p{
    background-color: rgb(221, 221, 221);
    display: flex;
    margin-right: 10px;
}

.type-area{
    padding-bottom: 100px;
    width: 40vw;
    background-color: lightblue; 
    word-break: normal;
}

p{
    margin: 0;
}

input{
    padding: 10px;
    margin-bottom: 5px;
}

.text-container{
    background-color: #fff;

    padding: 5px;
}

.delete-input{
    margin-top: 10px;
    color: red;
    padding: 0;
}

.update-input{
    margin-top: 0;
    padding: 0;
}

.edit-field{
    margin-top: 20px;
}

